<%# Bulk edit label selector %>
<% if @safe_attributes.include?('label_ids') && @project %>
<%
  project_labels = @project.labels.order(:name)
%>
<% if project_labels.any? %>
<p>
  <label for='issue_label_ids'><%= l(:field_labels) %></label>
  <span class="check_box_group">
    <label class="inline">
      <%= radio_button_tag 'issue[label_ids]', '', !@issue_params.has_key?(:label_ids), :id => 'issue_label_ids_none' %>
      <%= l(:label_no_change_option) %>
    </label>
    <label class="inline">
      <%= radio_button_tag 'issue[label_ids]', 'none', @issue_params[:label_ids] == 'none', :id => 'issue_label_ids_clear' %>
      <%= l(:label_clear_labels) %>
    </label>
    <% project_labels.each do |label| %>
      <label class="inline">
        <%= check_box_tag 'issue[label_ids][]', label.id,
            (@issue_params[:label_ids].is_a?(Array) && @issue_params[:label_ids].include?(label.id.to_s)),
            :id => "issue_label_ids_#{label.id}",
            :onclick => "document.getElementById('issue_label_ids_none').checked = false; document.getElementById('issue_label_ids_clear').checked = false;" %>
        <span class="label-badge label-badge-small" style="background-color: <%= label.color %>; color: <%= label.text_color %>;">
          <%= label.name %>
        </span>
      </label>
    <% end %>
  </span>
</p>
<% end %>
<% end %>
