<%= error_messages_for 'label' %>

<div class="box tabular">
  <p>
    <%= f.text_field :name, :required => true, :size => 40, :maxlength => 64, :id => 'label-name-input' %>
  </p>

  <p>
    <label for="label-color-input"><%= l(:field_color) %> <span class="required">*</span></label>
    <span class="label-color-picker">
      <%= f.color_field :color, :id => 'label-color-input' %>
      <span id="label-preview" class="label-badge" style="background-color: <%= @label.color %>; color: <%= @label.text_color %>;">
        <%= @label.name.presence || 'Preview' %>
      </span>
    </span>
  </p>
</div>
